'scopeName': 'source.hs.y'

'fileTypes': [
  'y'
]

'firstLineMatch': '^#!.*\\b'
'name': 'Haskell Happy Grammar'

'patterns': [
  {
    'match': '(?<!\\.)\\b(\\%name|\\%tokentype|\\%error|\\%token)(?!\\s*:)\\b'
    'name': 'keyword.control.hs.y'
  }
  {
    'include': 'source.hs'
  }
  {
    'begin': '{'
    'end': '}'
    'name': 'meta.section.hs'
    'patterns': [
      {
        'include': 'source.hs'
      }
    ]
  }
]
